server:
  port: 8000
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quan_ly_nh
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  jackson:
    property-naming-strategy: SNAKE_CASE

app:
  jwt:
    secret: "change-this-secret-key-for-production-please-update-32chars"
    expiration-minutes: 120

logging:
  level:
    org.hibernate.SQL: debug
